@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.main-content {
  padding: 56px;
}

header {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 1rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 1;
  border-bottom: 1px solid black;
}

header a {
  color: inherit;
  text-decoration: none;
}

footer {
  display: flex;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
}

.audio-player {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  margin-left: 16px;
}

.auth-button {
  /* green */
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.create-show-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  border: 1px dotted black;
  padding: 40px;
  box-sizing: border-box;
}

.content-header {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 64px;
}

.footer-column-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.footer-column-left {
  display: none;
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer-column-left>img {
  width: 100px;
  height: 100px;
}

.footer-column-right {
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer-link {
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
}

/* TODO: this is a temporary workaround for visual easy. Perhaps we want to display live data
elsewhere on mobile. */
.live-data {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  column-gap: 16px;
  margin-left: 16px;
  margin-right: 56px;
}

.shows-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.show-card {
  width: 100%;
  padding: 10px;
  gap: 1rem;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  border: 1px solid black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.show-date {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
}

.show-title {
  margin-top: 8px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
}

.show-description {
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
}

.show-tag {
  background: pink;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  text-transform: lowercase;
  padding: 8px;
  margin-top: 8px;
  margin-right: 8px;
  float: left;
}

.show-tags-container {
  margin-top: auto;
}

@media only screen and (min-width: 375px) {
  .footer-column-left {
    display: block;
  }

  .footer-link {
    text-align: right;
  }
}

@media only screen and (min-width: 760px) {
  .footer-column-center {
    display: block;
  }

  .live-data {
    display: block;
  }

  .shows-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}